* {
    padding: 0;
    margin: 0;
    /*font-family: "Roboto Condensed", sans-serif;*/
    font-family: 'Roboto', sans-serif;
}

body, html {
    overflow-x: hidden;
}

nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

#checkbox-menu, .toggle {
    display: none;
}

.txtwhite {
    color: #fff;
}

.menu {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: #000;
    text-decoration: none;
    transition: background .2s linear;
    font-size: 13px;
    padding: 10px 15px;
    align-self: center;
}

.menu li a:hover {
    background: #ffcc01;
    border-radius: 3px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 240px;
}

.menu li a.contact {
    margin-right: 100px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    /*background-image: url("./img/room.jpeg");*/
    height: 640px;
    width: 965px;
    background: url("./img/jojo.jpg") center center no-repeat;
    background-size: cover;
}

.intro .intro-title {
    /*position: absolute;*/
    position: relative;
    font-size: 62px;
    top: 220px;
    right: 125px;
    color: #000;
}

.intro-contact {
    position: absolute;
    max-width: 590px;
    right: 170px;
    /*top: 632px;*/
    top: 638px;
    background: #ffcc01;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.intro-contact i {
    color: #fff;
    margin-right: 30px;
}

.intro-contact p {
    font-size: 18px;
    margin-right: 60px;
}

.stats {
    display: flex;
    margin-top: 130px;
}

.stats-line {
    display: flex;
}

.stats-text {
    padding-right: 40px;
}

.stats-text h2 {
    font-size: 40px;
    margin-bottom: 70px;
}

.stats-text p {
    font-size: 13px;
    line-height: 27px;
    margin-top: 50px;
}

.square {
    width: 200px;
    height: 200px;
    margin: 30px;
    background-color: #f6f5f4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stats-square {
    font-size: 40px;
    color: #ffcc01;
    margin-bottom: 15px;
}

.square-text {
    font-size: 14px;
}

.apartments {
    padding: 60px 0;
    background-color: #f6f5f4;
}

.apart h2 {
    font-size: 40px;
    margin-bottom: 85px;
}

.card {
    width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.card img {
    width: 350px;
    height: 510px;
}

.card-container {
    padding: 25px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.card-info .money {
    font-size: 13px;
    color: #ffcc01;
}

.card-info i {
    margin-right: 8px;
}

.card-info span:first-child {
    margin-right: 18px;
}

.card:hover {
    background: #fafaf9;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.8);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 30px;
}

.apart input[type=text] {
    width: 300px;
    height: 70px;
    margin-top: 50px;
    border: none;
    /*background-image: url("./img/search.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: 27px;*/
    padding-left: 62px;
    outline: none;
    font-size: 15px;
    color: #919eb1;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.apart input[type=submit] {
    width: 115px;
    height: 70px;
    border: none;
    margin-left: -4px;
    font-size: 15px;
    background: #ffcc01;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.all {
    width: 250px;
    height: 70px;
    margin-top: 52px;
    margin-left: 40px;
    font-size: 15px;
    border: none;
    border-radius: 4px;
}

.buttons-search {
    display: flex;
}

.steps h2 {
    font-size: 40px;
    margin-top: 55px;
    margin-bottom: 35px;
}

.stats-text {
    font-size: 13px;
    line-height: 27px;
}

.mbtext {
    margin-bottom: 70px;
}

.stepblock {
    width: 340px;
    /*height: 370px;*/
    background: #fff;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}

.stepblock .step-num {
    font-size: 200px;
    position: relative;
    top: -115px;
    left: -30px;
}

.stepblock:hover {
    background: #ffcc01;
    color: #fff;
}

.steps-container {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.stepblock h4 {
    font-size: 14px;
    margin-left: 40px;
    margin-top: -100px;
    margin-bottom: 20px;
}

.stepblock h4 span {
    margin-right: 15px;
}

.stepblock .step-info {
    margin-left: 70px;
    line-height: 29px;
}

.stepblock .stepinfolast {
    display: inline-block;
    margin-left: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #000;
}

.services-container {
    display: flex;
    margin-top: 70px;
}

.services img {
    width: 100%;
    height: auto;
}

.services-img-container {
    width: 58%;
}

.services-text-container {
    width: 42%;
    margin-left: 3%;
}

.services-text-container p {
    margin-bottom: 60px;
}

.services h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.services p {
    font-size: 13px;
    line-height: 30px;
}

.services h4 {
    font-size: 25px;
    margin-bottom: 25px;
}

.agents {
    background: #f6f5f4;
    padding-top: 60px;
    margin-top: 20px;
}

.agents h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.agents p {
    font-size: 13px;
    line-height: 30px;
}

.agents p:nth-child(3) {
    margin-bottom: 60px;
}

.agent-block {
    display: flex;
    justify-content: space-between;
}

.social i {
    margin-right: 32px;
    position: relative;
    top: 7px;
    color: #000;
}

.social i:hover {
    color: #ffcc01;
}

.social i:last-child {
    margin-right: 18px;
}

.agent-card {
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
}

.agent-card img {
    width: 350px;
    height: 510px;
}

.agent-card:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.7);
}

.agent-info {
    padding-top: 10px;
    padding-left: 25px;
}

.agent-name {
    color: #ffcc01;
}

.agents-cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}

.add {
    padding-top: 90px;
    padding-bottom: 100px;
}

.add-line {
    display: flex;
}

.location {
    font-size: 18px;
    display: inline-block;
    background: #ffcc01;
    padding: 30px 87px 35px 55px;
}

.location i {
    margin-right: 15px;
    font-size: 25px;
    color: #fff;
    position: relative;
    top: 2px;
}

.location-melbourn {
    position: relative;
    left: 100px;
    bottom: 50px;
}

.location-australia {
    position: relative;
    left: 100px;
    bottom: 50px;
}

.add-line h3 {
    font-size: 25px;
    margin-top: 75px;
    margin-bottom: 40px;
    margin-left: 130px;
}

.add-line p {
    font-size: 13px;
    margin-left: 130px;
    line-height: 30px;
}

.line-img img {
    width: 541px;
    height: 330px;
}

.add-line-right p {
    margin-left: 0;
    margin-right: 130px;
}

.add-line h3:last-of-type {
    margin-top: 25px;
}

.show-more {
    font-size: 18px;
    background: #1f373d;
    padding: 30px 70px 30px 55px;
    margin-left: 130px;
    margin-top: 60px;
    color: #fff;
    display: inline-block;
}

footer {
    background: #1f373d;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 80px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
}

.footer-block h3 {
    font-size: 40px;
}

.footer-search input[type=text] {
    color: #919eb1;
    width: 442px;
    height: 70px;
    padding-left: 27px;
    font-size: 15px;
    /*background-image: ;*/
}

hr {
    margin-top: 47px;
    margin-bottom: 70px;
    opacity: 0.3;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    padding-right: 90px;
}

.footer-link {
    display: flex;
    flex-direction: column;
}

.footer-links-logo {
    font-size: 25px;
    margin-right: 26%;
}

.footer-link p {
    font-size: 13px;
    margin-bottom: 35px;
    color: #919eb1;
    text-transform: uppercase;
}

.footer-link a {
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
    font-size: 13px;
}

.footer-link a:hover {
    opacity: 0.4;
}


@media screen and (max-width: 765px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        color: #000;
        background: #ffcc01;
        transition: background .1s linear;
    }
    .toggle:hover {
        background: #d3a900;
    }
    #checkbox-menu:checked + label .touch li {
        visibility: visible;
        opacity: 1;
        transition: background .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        opacity: 0;
        width: 95%;
        visibility: hidden;
    }
    .menu li a {
        text-align: center;
        align-self: center;
        align-items: center;
        width: 95%;
    }
    .menu li a.logo {
        font-size: 21px;
        margin-right: 0;
    }
    .menu li a.contact {
        margin-right: 0;
    }
    .intro {
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
    .intro-img {
        background-position: bottom 0 right 193px;
    }
    .intro .intro-title {
        position: relative;
        font-size: 25px;
        right: -10px;
        top: 95px;
        color: #fff;
    }
    .intro-contact {
        position: relative;
        top: -50px;
        right: 0;
        padding: 20px 10px;
    }
    .intro-contact i {
        margin-right: 10px;
    }
    .intro-contact p {
        font-size: 13px;
        margin-right: 0;
    }
    .stats {
        margin-top: 0;
        flex-direction: column;
    }
    .stats-text {
        padding: 10px;
    }
    .stats-text h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .stats-text p {
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
    }
    .square {
        height: 140px;
    }
    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-row-gap: 10px;
        justify-items: center;
    }
    .apart input[type=text] {
        width: 180px;
        margin-top: 20px;
    }
    .buttons-search {
        flex-direction: column;
        margin-left: 4%;
    }
    .all {
        background: #fff;
        margin-top: 10px;
        margin-left: 0;
    }
    .steps-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .stepblock {
        margin-top: 20px;
    }
    .steps-text, .steps h2 {
        margin-left: 3%;
        margin-bottom: 15px;
    }
    .services h2, .services p {
        padding-left: 3%;
    }
    .services-container {
        margin-top: 20px;
        flex-direction: column;
    }
    .services-img-container {
        width: 100%;
    }
    .services-text-container {
        width: 100%;
    }
    .services-text-container p {
        padding-right: 9%;
    }
    .agents p, .agents h2 {
        padding-left: 3%;
    }
    .agents h2 {
        font-size: 30px;
    }
    .agents p {
        font-size: 13px;
    }
    .agents-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .agent-card {
        margin-top: 10px;
    }
    .add-line {
        flex-direction: column;
    }
    .location {
        font-size: 15px;
        padding: 15px 10px 18px 11px;
    }
    .location-melbourn {
        left: 30%;
        bottom: 50px;
    }
    .location-australia {
        left: 30%;
        bottom: 50px;
    }
    .add-line h3 {
        font-size: 25px;
        margin-top: 75px;
        margin-bottom: 40px;
        margin-left: 5%;
    }
    .add-line p {
        margin-left: 5%;
    }
    .add-line-right p {
        margin-right: 0;
        margin-left: 5%;
    }
    .show-more {
        padding: 20px 35px 20px 35px;
        font-size: 15px;
        margin-left: 27%;
        margin-top: 20px;
    }
    .footer-block {
        flex-direction: column;
    }
    .footer-logo h3 {
        font-size: 25px;
        text-align: center;
    }
    .footer-search input[type=text] {
        width: 80%;
        height: 50px;
        margin-top: 15px;
    }
    .footer-search {
        display: flex;
        justify-content: center;
    }
    .footer-links {
        flex-wrap: wrap;
        margin-left: 10%;
        padding-right: 50px;
    }
}
