* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}

body, html {
    overflow-x: hidden;
}

nav {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

#checkbox-menu, .toggle {
    display: none;
}

.menu {
    margin: 0;
    padding: 0;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

.menu li a {
    color: #000;
    text-decoration: none;
    transition: background .2s linear;
    font-size: 13px;
    padding: 10px 15px;
    align-self: center;
}

.menu li a:hover {
    background: #ffcc01;
    border-radius: 3px;
}

.menu li a.logo {
    font-size: 25px;
    margin-right: 240px;
}

.menu li a.contact {
    margin-right: 100px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

.intro {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
}

.intro-img {
    background-image: url("./img/room.jpeg");
    height: 640px;
    width: 965px;
}

.intro .intro-title {
    position: absolute;
    /*position: relative;*/
    font-size: 62px;
    top: 220px;
    right: 750px;
}

.intro-contact {
    position: absolute;
    max-width: 590px;
    right: 170px;
    /*top: 632px;*/
    top: 638px;
    background: #ffcc01;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

.intro-contact i {
    color: #fff;
    margin-right: 30px;
}

.intro-contact p {
    font-size: 18px;
    margin-right: 60px;
}

@media screen and (max-width: 765px) {
    .toggle {
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        color: #000;
        background: #ffcc01;
        transition: background .1s linear;
    }
    .toggle:hover {
        background: #d3a900;
    }
    #checkbox-menu:checked + label .touch li {
        visibility: visible;
        opacity: 1;
        transition: background .7s linear;
    }
    #checkbox-menu:checked + label .touch {
        height: 350px;
    }
    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 0;
        transition: height .3s linear;
    }
    .menu li {
        display: flex;
        align-self: center;
        opacity: 0;
        width: 95%;
        visibility: hidden;
    }
    .menu li a {
        text-align: center;
        align-self: center;
        align-items: center;
        width: 95%;
    }
    .menu li a.logo {
        font-size: 21px;
        margin-right: 0;
    }
    .menu li a.contact {
        margin-right: 0;
    }
    .intro {
        margin-top: 0;
        display: block;
        max-width: 100%;
    }
    .intro-img {
        background-position: bottom 0 right 200px;
    }
    .intro .intro-title {
        position: relative;
        font-size: 25px;
        right: -10px;
        top: 95px;
    }
    .intro-contact {
        position: relative;
        top: -50px;
        right: 0;
        padding: 20px 10px;
    }
    .intro-contact i {
        margin-right: 10px;
    }

    .intro-contact p {
        font-size: 13px;
        margin-right: 0;
    }
}
